# Ignore Makefiles from language stats
Makefile linguist-generated=false linguist-vendored=true linguist-documentation=false linguist-language=Ignore
*.mk linguist-generated=false linguist-vendored=true linguist-documentation=false linguist-language=Ignore